<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LVWDateTimeFormat" value="dd MMM yyyy hh:mm:ss" />
    <add key="FavoriteFolders" value="D:\Imran\M|D:\Imran\My|D:\Imran\M\A3\Eagles" />
    <add key="FolOrientation" value="0" />
    <add key="FolHorzDistance" value="109" />
    <add key="FolVertDistance" value="243" />
    <add key="FilColWidthName" value="307" />
    <add key="FilColWidthModified" value="119" />
    <add key="FilColWidthSize" value="68" />
    <add key="FilColWidthExt" value="37" />
    <add key="FilColWidthFolder" value="587" />
    <add key="FolVisibility" value="True" />
    <add key="LastBuildDate" value="18-10-2012 08:19:34" />
    <add key="LastBuildRevision" value="508" />
    <add key="PlsHorzDistance" value="171" />
    <add key="PlsVertDistance" value="830" />
    <add key="PlsOrientation" value="0" />
    <add key="SelectorType" value="2" />
  </appSettings>
  <system.windows.forms jitDebugging="true" />
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
</configuration>